alembic==0.9.5
apyori==1.1.1
arcade==2.0.9
bcrypt==3.1.6
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
cffi==1.10.0
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==4.4.1
cycler==0.10.0
Django==2.1.3
djangorestframework==3.9.0
dnspython==1.16.0
email.py==0.0.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Ext==0.1
Flask-Migrate==2.1.0
Flask-Script==2.0.5
Flask-Session==0.3.1
Flask-SocketIO==4.0.0
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
ForgeryPy==0.1
future==0.17.1
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.0.1
Lasagne==0.1
libsass==0.18.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.2.2
more-itertools==4.3.0
nose==1.3.7
numpy==1.14.3
opencv-python-headless==4.1.0.25
pandas==0.22.0
patsy==0.5.1
Pillow==6.0.0
psycopg2==2.7.3
py3dns==3.2.0
pycparser==2.18
pygame==1.9.4
pyglet==1.4.0b1
pyglet-ffmpeg2==0.1.12
PyJWT==1.5.2
pymongo==3.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
python-editor==1.0.3
python-engineio==3.8.0
python-socketio==4.1.0
pythonds==1.2.1
pytz==2018.4
Quandl==3.4.5
requests==2.21.0
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
soupsieve==1.8
SQLAlchemy==1.1.13
statsmodels==0.9.0
Theano==1.0.4
urllib3==1.24.1
validate-email==1.3
virtualenv==16.1.0
virtualenvwrapper-win==1.2.5
Werkzeug==0.15.2
winkerberos==0.7.0
XlsxWriter==1.1.5
