{% extends './template/header.html'%}

{% block title%}
Admin
{% endblock %}

{% block body%}
<div class="section">
    <label for="drop">Sections</label>
    <select name="drop">
        {% for section in all_sections %}
            <option>
                {{ section['section'] }}
            </option>
        {% endfor %}
    </select>
    <input type="text" id="section">
    <button id="add"> Add <i class="fa fa-plus"></i></button>
    <button id="remove"> Remove <i class="fa fa-minus"></i></button>
</div>
<div class="admin">
    {% for query in queries %}
        {% if query['pending'] %}
            <section>
                <h1>{{ query['title'] }}</h1>
                <h4>on {{ query['date'] }} by {{ query['username'] }}</h4>
                <p>{{ query['description'] }}</p>
                <img src="{{ query['avatar'] }}">
                <div>
                    <i class="fa fa-star">{{ query['star'] }}</i>
                    <a class="git" href="{{ query['url_repo'] }}"><i class="fab fa-github"></i></a>
                    <a class="pdf" href="{{ query['url_pdf'] }}"><i class="far fa-file-pdf"></i></a>
                </div>
                <div>
                    <button><i class="fa fa-check-circle" onclick="post('/{{session['username']}}/admin', {'approve':1, 'repo':'{{query['title']}}'}); preload();"></i></button>
                    <button><i class="fa fa-times-circle" onclick="post('/{{session['username']}}/admin', {'approve':0, 'repo':'{{query['title']}}'}); preload();"></i></button>
                </div>
            </section>
        {% endif %}
    {% endfor%}
</div>


<!-- ADMIN CLIENT SIDE-->
<script>
    // if add section is clicked
    $('#add').click(()=>{
       post(`/{{ session['username'] }}/admin/${$('#section').val()}/add`, {'section':$('#section').val()})
    });


    // if remove section is clicked
    $('#remove').click(()=>{
        post(`/{{ session['username'] }}/admin/${$('#section').val()}/remove`, {'section':$('#section').val()})
    });
</script>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

{% endblock %}