{% extends './template/header.html'%}

{% block title%}
Admin
{% endblock %}

{% block body%}
<div class="section">
    <label for="drop">Sections</label>
    <select class="custom-select" name="drop">
        {% for section in all_sections %}
            <option>
                {{ section['section'] }}
            </option>
        {% endfor %}
    </select>
    <input type="text" id="section">
    <button class="btn btn-outline-success" id="add"> Add <i class="fa fa-plus"></i></button>
    <button class="btn btn-outline-danger" id="remove"> Remove <i class="fa fa-minus"></i></button>
</div>
<div class="admin d-flex flex-column">
    {% for query in queries %}
        {% if query['pending'] %}
            <section class="border border-info">
                <img src="{{ query['avatar'] }}">
                <h1>{{ query['new_title']|safe }}</h1>
                <h4>on {{ query['date'] }} by {{ query['username'] }}</h4>
                <p>
                    {{ query['new_description']|safe }}
                </p>
                <div class="read mx-auto">
                    <i class="fa fa-star">{{ query['star'] }}</i>
                    <a class="git btn btn-primary" href="{{ query['url_repo'] }}"><i class="fab fa-github"></i></a>
                    <a class="pdf btn btn-secondary" href="{{ query['url_pdf'] }}"><i class="far fa-file-pdf"></i></a>
                </div>
                <div class="card-group">
                    <button class="card btn btn-lg btn-outline-success" onclick="post('/{{session['username']}}/admin', {'approve':1, 'repo':'{{query['title']}}'}); preload();">Approve <i class="fa fa-check-circle"></i></button>
                    <button class="card btn btn-lg btn-outline-danger" onclick="post('/{{session['username']}}/admin', {'approve':0, 'repo':'{{query['title']}}'}); preload();">Disapprove <i class="fa fa-times-circle"></i></button>
                </div>
            </section>
        {% endif %}
    {% endfor%}
</div>


<!-- ADMIN CLIENT SIDE-->
<script>
    // if add section is clicked
    $('#add').click(()=>{
       post(`/{{ session['username'] }}/admin/${$('#section').val()}/add`, {'section':$('#section').val()})
    });


    // if remove section is clicked
    $('#remove').click(()=>{
        post(`/{{ session['username'] }}/admin/${$('#section').val()}/remove`, {'section':$('#section').val()})
    });
</script>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

{% endblock %}