{% extends './template/header.html'%}

{% block body%}

    <div class="detail">
        <h1>{{ repo['title'] }}</h1>
        <section>
            <img src="{{ repo['avatar'] }}">
            <p>{{ repo['description'] }}</p>
        </section>
        <section>
            <a class="git" href="{{ repo['url_repo'] }}"><i class="fab fa-github"> Code</i></a>
            <a class="pdf" href="{{ repo['url_pdf'] }}"><i class="far fa-file-pdf"> Paper</i></a>
        </section>
        <section>
            <i class="fa fa-star">{{  repo['star']  }}</i>
        </section>
        <div class="msg">
            <textarea rows="5" placeholder="Write a public comment...."></textarea>
            <button id="comment"> comment </button>
            <h2>Discussion</h2>
            <hr>
            <ul></ul>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
    const socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'user connected......'});
    });

    socket.on('message', function (msg) {
        $(".msg ul").append(`
        <h4></h4>
        <li>${msg.valueOf()}</li>`);
    });
    $('#comment').on('click', ()=>{
        socket.send($('textarea').val());
        $('textarea').val('');
    })
</script>

{%  endblock %}