{% extends './template/header.html'%}
{% block title%}
    Edit Paper
{% endblock %}


{% block body%}
<div class="edit">
    <form align="center" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" value="{{ query['title'] }}">
        <label for="repo">Url to The Repository</label>
        <input type="text" name="repo" value="{{ query['url_repo'] }}">
        <label for="pdf">Url to The PDF</label>
        <input type="text" name="pdf" value="{{ query['url_pdf'] }}">
        <label for="desc">Description</label>
        <textarea name="desc" cols="6" rows="6">{{ query['description'] }}</textarea>
        <label for="section"> Choose a section </label>
        <select name="section">
            {% for section in all_sections %}
                <option>
                    {{ section['section'] }}
                </option>
            {% endfor %}
        </select>
        <label for="tags">Tags: (maximum 5 tags allowed) use ; to separate the tags</label>
        <textarea pattern=['a-z''A-Z'] name="tags" cols="6" rows="6" required>{% for tag in query['tags']%}{{tag}};{% endfor %}
        </textarea>

        <input type="submit" name="submit" value="Save Changes" onclick="preload()">
        <div class="loading" align="center"></div>
    </form>
</div>


{% endblock %}