{% extends './template/header.html'%}

{% block body %}
<div class="landing">
    <form method="post">
        <h1>Login</h1>
        <hr>
        <label for="username"> Username</label>
        <input type="text" name="username" placeholder="username.....">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password.....">
        <input type="submit" name="login" value="Login">
        <input type="button" name="signUp" value="SignUp">
        <div class="clip"></div>
    </form>
</div>
{% endblock %}


