{% extends './template/header.html'%}

{% block body%}
{% if repositories %}
    <div class="search">
        <input type="search" id="sea"><button id="search2"><i class="fa fa-search"></i></button>
    </div>
    <div class="repos">
            {% for repo in repositories %}
            <div class="git-profile">
                <img src="{{repo['avatar']}}">
                <h2>{{repo['title']}}</h2>
                <button onclick="window.location='/{{repo['username']}}/{{repo['title']}}'">view</button>
            </div>
            {% endfor %}
    <div class="loading"></div>
    </div>
    <div class="page">
        <i class="fa fa-angle-double-left"></i>  <span> {{page}} </span> <i class="fa fa-angle-double-right"></i>
    </div>

{% else %}
    <div class="welcome">
        <h1>Welcome To iShare</h1>
        <h2>Search</h2>
        <input id="sea" type="text" name="search">
        <button id="search">
            GO
        </button>
        <div class="loading"></div>

    </div>
{% endif %}

<canvas></canvas>
<script>
    // get current page
    let page = {{ page }};

    // go to the next page
    $('.fa-angle-double-right').on('click', ()=>{
        page++;
        window.location = `{{user}}?page=${page}`;
        document.querySelector('.loading').style.display = 'block';
    });

    // go back a page
    if(page > 1)
    $('.fa-angle-double-left').on('click', ()=>{
        page--;
        window.location = `{{user}}?page=${page}`;
        document.querySelector('.loading').style.display = 'block';
    });
</script>
<script src="{{ url_for( 'static', filename='js/wave.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/landing.js') }}"></script>
{% endblock %}


