{% extends './template/header.html'%}

{% block title%}
    Repos
{% endblock %}


{% block body%}
<div class="sections mx-auto row">
    {% for section in all_sections %}
        <a class="col-xl col-lg-2 col-sm-3 col-md-4 btn btn-outline-primary" href="/Browse-all-time?section={{ section['section'] }}">{{ section['section'] }}</a><br><br>
    {% endfor %}
</div>
<div class="query mx-auto">
    {% for query in queries %}
        {% if query['approved'] %}
            <section class="shadow-lg p-3 mb-5 bg-white rounded card md-3">
                <div class="d-flex">
                    <div  class="d-flex flex-column">
                        <div class="icon">
                                <img src="{{query['avatar']}}">
                            <i style="font-size: 14pt" class="fas fa-star"><br><span style="font-size: 10pt">{{query['star']}}</span></i>
                            <br><br>
                        </div>
                        <a href="/Browse-all-time?section={{query['section']}}" class="query_sec btn btn-outline-primary">{{query['section']}}</a>
                        <a class="git btn btn-primary btn-lg" href="query['url_repo']"><i class="fab fa-github"></i></a>
                        <a class="pdf btn btn-secondary btn-lg" href="query['url_pdf']"><i class="far fa-file-pdf"></i></a>
                    </div>
                    <div>
                        <img src="https://via.placeholder.com/225">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <a class="title" href="/{{query['username']}}/{{query['title']}}">{{query['title']}}</a>
                        <small class="text-muted">{{query['date']}} by {{query['username']}}</small>
                        <p>{{query['description']}}</p>
                    </div>
                </div>
                <div>
                    {% for tag in query['tags']%}
                        <a href="/Browse-all-time?tag={{tag}}" class="tag btn btn-outline-warning">{{tag}}</a>
                    {% endfor %}
                </div>
                {% if admin%}
                    <div class="admin__btn">
                        <button class="btn btn-outline-info" onclick="window.location=`/{{session['user']}}/edit/{{query['title']}}`"> <i class="fa"></i> </button>
                        <button class="btn btn-outline-danger" onclick="window.location=`/{{session['user']}}/delete/{{query['title']}}`"> Delete </button>
                    </div>
                {% endif %}
            </section>
        {% endif %}
    {% endfor%}

</div>
<!--{% if queries|length > 1 %}-->
    <!--<div class="load d-flex flex-column align-item-center">-->
        <!--<div class="loading"></div>-->
        <!--<button id="load_more" class="shadow p-3 mb-5 btn btn-lg btn-outline-success">Load more</button>-->
    <!--</div>-->
<!--{% endif%}-->
<script src="{{ url_for('static', filename='js/query.js') }}"></script>

{% endblock %}