{% extends './template/header.html'%}

{% block body%}
<div class="sections">
    {% for section in all_sections %}
        <a href="/Browse-all-time?section={{ section['section'] }}">{{ section['section'] }}</a><br><br>
    {% endfor %}
</div>
<div class="query">
    {% for query in queries %}
        {% if query['approved'] %}
            <section>
                <a href="/{{ query['username'] }}/{{ query['title']}}"><h1>{{ query['title'] }}</h1></a>
                <h4>on {{ query['date'] }} by {{ query['username'] }}</h4>
                <p>{{ query['description'] }}</p>
                <div>
                    <img src="{{ query['avatar'] }}">
                    <i class="fa fa-star">{{ query['star'] }}</i>
                    <a class="git" href="{{ query['url_repo'] }}"><i class="fab fa-github"></i></a>
                    <a class="pdf" href="{{ query['url_pdf'] }}"><i class="far fa-file-pdf"></i></a>
                </div>
                <div class="sections">
                    <a  href="/Browse-all-time?section={{ query['section'] }}">{{ query['section'] }}</a>
                </div>
                {%if admin %}
                <div class="admin__btn">
                    <button onclick="window.location=`/{{ admin['username'] }}/edit/{{query['title']}}`"> Edit </button>
                    <button onclick="window.location=`/{{ admin['username'] }}/delete/{{query['title']}}`"> Delete </button>
                </div>
                {% endif %}
            </section>
        {% endif %}
    {% endfor%}

</div>
{% if queries|length > 1 %}
    <div class="load">
        <div class="loading"></div>
        <button id="load_more">Load more</button>
    </div>
{% endif%}
<script src="{{ url_for('static', filename='js/query.js') }}"></script>

{% endblock %}