* {
  margin: 0;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

/* DEFAULT INPUT */
input {
  border: 1px solid black;
  background-color: transparent; }

/* DEFAULT HR */
hr {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  width: 80%; }

/* LANDING PAGE STARTS HERE */
.landing {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; }
  .landing form {
    position: relative;
    border: 1px solid #b6b6b6;
    padding: 150px 30px;
    border-radius: 10px;
    align-self: center;
    align-content: center;
    box-shadow: 10px 10px 200px 55px #a0a0a0; }
    .landing form label, .landing form input {
      width: 100%;
      margin: 10px 0; }
      .landing form label[type='submit'], .landing form label[type='button'], .landing form input[type='submit'], .landing form input[type='button'] {
        cursor: pointer; }
      .landing form label[type='submit'], .landing form input[type='submit'] {
        color: lavender;
        background-color: #FFB03B; }
        .landing form label[type='submit']:hover, .landing form input[type='submit']:hover {
          background-color: #FD7400; }
      .landing form label[type='button'], .landing form input[type='button'] {
        color: lavender;
        background-color: #D95B5B; }
        .landing form label[type='button']:hover, .landing form input[type='button']:hover {
          background-color: #F2385A; }
    .landing form input {
      border: 1px solid #b6b6b6;
      padding: 10px;
      border-radius: 20px; }
    .landing form .clip {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 9px 9px;
      background: linear-gradient(black, #2C3E50);
      width: 100%;
      height: 300px;
      -webkit-clip-path: polygon(0 90%, 100% 66%, 100% 100%, 0% 100%);
      clip-path: polygon(0 90%, 100% 66%, 100% 100%, 0% 100%); }

/* LANDING ENDS HERE */
