.underline {
  cursor: pointer; }
  .underline::after {
    content: '';
    display: block;
    border-bottom: 1px solid lavender;
    width: 0;
    transition: all 150ms ease-in-out; }
  .underline:hover::after {
    width: 100%; }

* {
  margin: 0;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

/* DEFAULT INPUT */
input, button {
  border: 1px solid black;
  background-color: transparent; }

/* DEFAULT HR */
hr {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  width: 80%; }

/* DEFAULT BUTTON */
button {
  background-color: red; }

/* DEFAULT a */
a {
  text-decoration: none;
  color: inherit; }

.underline {
  cursor: pointer; }
  .underline::after {
    content: '';
    display: block;
    border-bottom: 1px solid lavender;
    width: 0;
    transition: all 150ms ease-in-out; }
  .underline:hover::after {
    width: 100%; }

/* Nav STARTS HERE */
nav {
  position: sticky;
  background-color: #E87551;
  color: lavender;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 10; }
  nav ul li {
    float: left;
    margin: 20px 10px;
    list-style-type: none; }
    nav ul li::before {
      content: '';
      clear: both;
      display: table; }
    nav ul li input {
      border-color: lavender;
      padding: 5px; }
      nav ul li input::placeholder {
        color: inherit; }
  nav ul .nav-right {
    float: right; }

/* Nav ENDS HERE */
/* LANDING PAGE STARTS HERE */
.landing {
  /*
  flex objects and
  center it
  */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; }
  .landing form {
    position: relative;
    border: 1px solid #b6b6b6;
    padding: 150px 30px;
    border-radius: 10px;
    align-self: center;
    align-content: center;
    box-shadow: 10px 10px 200px 55px #a0a0a0; }
    .landing form label, .landing form input, .landing form .sign {
      width: 100%;
      margin: 10px 0; }
    .landing form input {
      border: 1px solid #b6b6b6;
      padding: 10px;
      border-radius: 20px;
      transition: background-color 250ms ease-in-out; }
      .landing form input:focus {
        outline: none;
        background-color: #BEDB39; }
      .landing form input[type='submit'] {
        cursor: pointer;
        color: lavender;
        background-color: #FFB03B; }
        .landing form input[type='submit']:hover {
          background-color: #FD7400; }
    .landing form .sign {
      border: 1px solid #b6b6b6;
      padding: 10px;
      border-radius: 20px;
      color: lavender;
      cursor: pointer;
      text-align: center;
      background-color: #D95B5B; }
      .landing form .sign:hover {
        background-color: #F2385A; }
    .landing form .clip {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 9px 9px;
      background: linear-gradient(black, #2C3E50);
      width: 100%;
      height: 300px;
      -webkit-clip-path: polygon(0 90%, 100% 66%, 100% 100%, 0% 100%);
      clip-path: polygon(0 90%, 100% 66%, 100% 100%, 0% 100%); }

/* LANDING ENDS HERE */
