.underline {
  cursor: pointer; }
  .underline::after {
    content: '';
    display: block;
    border-bottom: 1px solid lavender;
    width: 0;
    transition: all 150ms ease-in-out; }
  .underline:hover::after {
    width: 100%; }

* {
  margin: 0;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

/* DEFAULT INPUT */
input, button {
  border: 1px solid black;
  background-color: transparent; }

/* DEFAULT HR */
hr {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  width: 80%; }

/* DEFAULT BUTTON */
button {
  outline: none;
  background-color: red; }
  button:active {
    color: #B64926; }

/* DEFAULT a */
a {
  text-decoration: none;
  color: inherit; }

/* DEFAULT input */
input {
  outline: none; }

.underline {
  cursor: pointer; }
  .underline::after {
    content: '';
    display: block;
    border-bottom: 1px solid lavender;
    width: 0;
    transition: all 150ms ease-in-out; }
  .underline:hover::after {
    width: 100%; }

@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes changeColor {
  0% {
    border-bottom-color: #e87551; }
  100% {
    border-bottom-color: rgba(232, 117, 81, 0.5); } }

/* Nav STARTS HERE */
nav {
  position: sticky;
  background-color: #E87551;
  color: lavender;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 10; }
  nav ul li {
    float: left;
    margin: 20px 10px;
    list-style-type: none; }
    nav ul li::before {
      content: '';
      clear: both;
      display: table; }
    nav ul li input {
      border-color: lavender;
      padding: 2.5px; }
      nav ul li input::placeholder {
        color: inherit; }
    nav ul li button {
      cursor: pointer;
      color: lavender;
      font-size: 15pt;
      background-color: transparent;
      border: none; }
  nav ul .nav-right {
    float: right; }
    nav ul .nav-right ul ul {
      position: fixed;
      right: 0; }
      nav ul .nav-right ul ul li {
        cursor: pointer;
        position: fixed;
        right: 0;
        top: 40px;
        width: 100px;
        padding: 10px;
        background-color: #E87551; }
        nav ul .nav-right ul ul li::after {
          content: '';
          display: block;
          border-bottom: 1px solid lavender;
          width: 0;
          transition: all 150ms ease-in-out; }
        nav ul .nav-right ul ul li:hover::after {
          width: 100%; }
      nav ul .nav-right ul ul #upload {
        top: 80px; }

/* Nav ENDS HERE */
/* LOGIN PAGE STARTS HERE */
.login {
  /*
  flex objects and
  center it
  */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; }
  .login form {
    position: relative;
    border: 1px solid #b6b6b6;
    padding: 150px 30px;
    border-radius: 10px;
    align-self: center;
    align-content: center;
    box-shadow: 10px 10px 200px 55px #a0a0a0; }
    .login form label, .login form input, .login form .sign {
      width: 100%;
      margin: 10px 0; }
    .login form input {
      border: 1px solid #b6b6b6;
      padding: 10px;
      border-radius: 20px;
      transition: background-color 250ms ease-in-out; }
      .login form input:focus {
        outline: none;
        background-color: #BEDB39; }
      .login form input[type='submit'] {
        cursor: pointer;
        color: lavender;
        background-color: #FFB03B; }
        .login form input[type='submit']:hover {
          background-color: #FD7400; }
    .login form .sign {
      border: 1px solid #b6b6b6;
      padding: 10px;
      border-radius: 20px;
      color: lavender;
      cursor: pointer;
      text-align: center;
      background-color: #D95B5B; }
      .login form .sign:hover {
        background-color: #F2385A; }
    .login form .clip {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 9px 9px;
      background: linear-gradient(black, #2C3E50);
      width: 100%;
      height: 300px;
      -webkit-clip-path: polygon(0 90%, 100% 66%, 100% 100%, 0% 100%);
      clip-path: polygon(0 90%, 100% 66%, 100% 100%, 0% 100%); }

.loading {
  display: none;
  border: 10px solid transparent;
  border-bottom: 10px solid #E87551;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s infinite, changeColor 3s infinite; }

/* LOGIN ENDS HERE */
/* LANDING PAGE BEGINS HERE */
.repos {
  display: grid;
  width: 85%;
  height: auto;
  border: 1px solid #b6b6b6;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto; }
  .repos .git-profile {
    margin: 10px 20px; }
    .repos .git-profile img {
      width: auto;
      height: 100px;
      border-radius: 20px; }
    .repos .git-profile h2 {
      font-size: 12pt; }

.page {
  text-align: center;
  color: #E87551;
  font-size: 15pt; }
  .page .fa {
    cursor: pointer; }
  .page span {
    border-bottom: 1px solid #E87551; }

.welcome {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 80%;
  margin: 25% auto;
  color: #E87551; }
  .welcome h1 {
    font-size: 5em; }
  .welcome h2 {
    font-size: 4em; }
  .welcome input {
    width: 100%;
    height: 100px;
    border-radius: 40px;
    text-align: center;
    font-size: 5em;
    border-color: #E87551; }
  .welcome button {
    cursor: pointer;
    width: 10em;
    height: 4em;
    margin: 20px auto;
    font-size: 2em;
    background-color: transparent;
    border-color: #E87551;
    color: #E87551;
    transition: background-color 250ms ease-in-out; }
    .welcome button:hover {
      color: lavender;
      background-color: #F2385A; }

/* LANDING PAGE ENDS HERE */
/* FLASHES BEGINS HERE */
.flashes .flash-success {
  display: flex;
  align-self: center;
  background-color: #468966;
  color: lightgreen;
  text-align: center;
  padding: 10px;
  border-radius: 5px; }
  .flashes .flash-success::before {
    content: 'Action Success:// ';
    font-weight: bolder;
    color: greenyellow; }

.flashes .flash-failure {
  display: flex;
  align-self: center;
  background-color: #E74C3C;
  color: #FFDA66;
  text-align: center;
  padding: 10px;
  border-radius: 5px; }
  .flashes .flash-failure::before {
    content: 'Action Failure:// ';
    font-weight: bolder;
    color: darkred; }

/* FLASHES ENDS HERE */
/* Upload Begins Here */
.upload {
  display: flex;
  justify-content: center; }
  .upload form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    padding: 25px; }
    .upload form::before {
      position: absolute;
      z-index: -1;
      right: 0;
      left: 0;
      margin: 0 auto;
      content: 'Upload a paper';
      display: block;
      height: 25em;
      border: 1px solid #D95B5B;
      color: #D95B5B; }
    .upload form input[type='submit'] {
      border: 1px solid #b6b6b6;
      padding: 10px;
      border-radius: 20px;
      color: lavender;
      cursor: pointer;
      text-align: center;
      background-color: #D95B5B;
      margin-top: 20px;
      transition: background-color 250ms ease-in-out; }
      .upload form input[type='submit']:hover {
        background-color: #F2385A; }
    .upload form input[type='file'] {
      border: none; }
    .upload form #label-img {
      text-align: justify; }
    .upload form textarea {
      resize: none; }

/* Upload Ends Here */
/* QUERY BEGINS HERE */
.query {
  display: flex;
  flex-direction: column; }
  .query section {
    position: relative;
    margin: 40px 0;
    border: 1px solid #F2385A;
    box-shadow: 0 0 50px 10px #00000055;
    display: flex;
    flex-direction: column; }
    .query section h1 {
      font-size: 2em;
      background-color: #F2385A;
      color: lavenderblush;
      padding: 5px; }
    .query section h4, .query section p {
      margin-left: 5px; }
    .query section p {
      height: 150px;
      overflow-y: scroll;
      overflow-wrap: normal; }
    .query section h4 {
      color: #5F5F5F;
      font-size: 0.85em; }
    .query section a {
      float: right;
      font-size: 2.5em;
      padding: 10px; }
    .query section i {
      font-size: 2.5rem;
      margin: 10px; }
    .query section .git {
      background-color: #FD7400;
      transition: 350ms color ease-in-out, 1s background-color ease-in-out; }
      .query section .git::after {
        content: "Code";
        font-size: 0.5em;
        color: lavenderblush;
        margin-left: 5px; }
      .query section .git:hover {
        color: #FD7400;
        background-color: transparent; }
        .query section .git:hover::after {
          color: inherit; }
    .query section .pdf {
      padding: 10px 15px;
      background-color: #468966;
      transition: 350ms color ease-in-out, 1s background-color ease-in-out; }
      .query section .pdf::after {
        content: "Paper";
        font-size: 0.5em;
        color: lavenderblush;
        margin-left: 5px; }
      .query section .pdf:hover {
        color: #468966;
        background-color: transparent; }
        .query section .pdf:hover::after {
          color: inherit; }
    .query section .fa-star {
      color: orange;
      position: sticky;
      top: 5px; }

/* QUERY ENDS HERE */
