@import "defaults";
@import "constants";
@import "mixins";
@import "animation";

/* Nav STARTS HERE */
nav{
  position: sticky;
  background-color: color('skin-tan2');
  color: lavender;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 10;
  ul{
    li{
      float: left;
      margin: 20px 10px;
      list-style-type: none;
      &::before{
        content: '';
        clear: both;
        display: table;

      }
      input{
        border-color: lavender;
        padding: 2.5px;
        &::placeholder{
          color: inherit;
        }
      }
      button{
        cursor: pointer;
        color: lavender;
        font-size: 15pt;
        background-color: transparent;
        border: none;
      }
    }

    .nav-right{
      float: right;
      ul  ul{
        position: fixed;
        right: 0;
        $top: 40px;
        li{
          @include hoverUnderline(150ms);
          position: fixed;
          right: 0;
          top: $top;
          width: 100px;
          padding: 10px;
          background-color: color('skin-tan2');
        }
        #upload{
          top: ($top + 40px);
        }
      }
    }

  }
}
/* Nav ENDS HERE */

/* LOGIN PAGE STARTS HERE */
.login{
  @include flexCenter;

  form{
    position: relative;
    border: border('default');
    $padding: 30px;
    padding: ($padding * 5) $padding;
    border-radius: 10px;
    align-self: center;
    align-content: center;
    box-shadow: shadow('default');
    label, input, .sign{
      width: 100%;
      margin: 10px 0;
    }
    input{
      @include land-btn;
      transition: background-color 250ms ease-in-out;
      &:focus{
        outline: none;
        background-color: color('green-hazard');
      }
      &[type='submit']{
        cursor: pointer;
        color:lavender;
        background-color: color('orange-light');
        &:hover{
          background-color: color('orange-dark');
        }
      }
    }
    .sign{
        @include land-btn;
        color:lavender;
        cursor: pointer;
        text-align: center;
        background-color: color('pink-gentle');
      &:hover{
        background-color: color('pink-hot');
      }

    }
    .clip{
      position: absolute;
      bottom: 0;
      left:0;
      $border: 9px;
      border-radius: 0 0 $border $border;
      background: linear-gradient(black, color('blue-navy'));
      width: 100%;
      height: 300px;
      -webkit-clip-path: polygon(0 90%, 100% 66%, 100% 100%, 0% 100%);
      clip-path: polygon(0 90%, 100% 66%, 100% 100%, 0% 100%);
    }
  }
}

// Preload Icon
.loading{
  display: none;
  $width: 100px;
  border: 10px solid transparent;
  border-bottom: 10px solid color('skin-tan2');
  border-radius: 50%;
  width: $width;
  height: $width;
  animation: spin 3s infinite, changeColor 3s infinite;
}
/* LOGIN ENDS HERE */

/* LANDING PAGE BEGINS HERE */
.repos{
  display: grid;
  width: 85%;
  height: auto;
  border: border('default');
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  .git-profile{
    margin: 10px 20px;
    img{
      width:auto;
      height: 100px;
      border-radius: 20px;
    }
    h2{
      font-size: 12pt;
    }
  }
}
.page{
  text-align: center;
  color: color('skin-tan2');
  font: {
    size: 15pt;
  };
  .fa{
    cursor: pointer;
  }
  span{
    border-bottom: 1px solid color('skin-tan2');
  }
}

.welcome{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 80%;
  margin: 25% auto;
  color: color('skin-tan2');
  h1{
    font-size: 5em;
  }
  h2{
    font-size: 4em;
  }
  input{
    width: 100%;
    height: 100px;
    border-radius: 40px;
    text-align: center;
    font-size: 5em;
    border-color: color('skin-tan2');
  }
  button{
    cursor: pointer;
    width: 10em;
    height: 4em;
    margin: 20px auto;
    font-size: 2em;
    background-color: transparent;
    border-color: color('skin-tan2');
    color: color('skin-tan2');
    transition: background-color 250ms ease-in-out;
    &:hover{
      color:lavender;
      background-color: color('pink-hot');
    }
  }
}
/* LANDING PAGE ENDS HERE */

/* FLASHES BEGINS HERE */
.flashes{
  .flash-success{
    @include flashes(color('green-jade'), lightgreen);
    &::before{
      content: 'Action Success:// ';
      font-weight: bolder;
      color: greenyellow;
    }
  }
  .flash-failure{
    @include flashes(color('red-light'), color('gold-light'));
    &::before{
      content: 'Action Failure:// ';
      font-weight: bolder;
      color: darkred;
    }
  }
}
/* FLASHES ENDS HERE */

/* Upload Begins Here */
.upload{
  display: flex;
  justify-content: center;
  form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    padding: 25px;
    &::before{
      @include centerAbsolute;
      content: 'Upload a paper';
      display: block;
      height: 25em;
      border: 1px solid color('pink-gentle');
      color: color('pink-gentle');

    }
    input{
      &[type='submit']{
        @include land-btn;
        color:lavender;
        cursor: pointer;
        text-align: center;
        background-color: color('pink-gentle');
        margin-top: 20px;
        transition: background-color 250ms ease-in-out;
        &:hover{
          background-color: color('pink-hot');
        }
      }
      &[type='file']{
        border:none;
      }
    }
    #label-img{
      text-align: justify;
    }
    textarea{
      resize: none;
    }
  }
}
/* Upload Ends Here */

/* QUERY BEGINS HERE */
.query{
  display: flex;
  flex-direction: column;
  section{
    position: relative;
    margin: 40px 0;
    border: 1px solid color('pink-hot');
    box-shadow: 0 0 50px 10px #00000055;
    display: flex;
    flex-direction: column;
    h1{
      font-size: 2em;
      background-color: color('pink-hot');
      color: lavenderblush;
      padding: 5px;
    }
    h4, p{
      margin-left: 5px;
    }
    p{
      height: 150px;
      overflow-y: scroll;
      overflow-wrap: normal;
    }
    h4{
      color: color('metal-irondark');
      font-size: 0.85em;
    }
    a{
      float:right;
      font-size: 2.5em;
      padding: 10px;
    }
    i{
      font-size: 2.5rem;
      margin: 10px;
    }
    .git{
      background-color: color('orange-dark');
      @include after('Code');
      @include changeColor(color('orange-dark'));
    }
    .pdf{
      padding: 10px 15px;
      background-color: color('green-jade');
      @include after('Paper');
      @include changeColor(color('green-jade'));
    }
    .fa-star{
      color: orange;
      position: sticky;
      top: 5px;
    }

  }
}
/* QUERY ENDS HERE */